* {
    text-align: center;
}

#result {
    display: none;
}

div {
    width: 50%;
    margin: auto;
    text-align: center;
}

hr{
    border: 0px;
    border-top: 5px solid grey;
}

select{
    width: 10% !important;
    float: left;
}